.home-wrapper {
  .card-one {
    position: relative;
    z-index: 3;
    background-image: image_url('thumbs_up.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-two {
    position: sticky;
    bottom: 0;
    z-index: 2;
  }

  .card-three {
    position: sticky;
    bottom: 0;
    z-index: 1;
  }

  .left {
    width: 50vw;
    float: left;
  }

  .right {
    width: 50vw;
    float: right;
  }

  .card {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: $navbar-height + 125px;
    padding-bottom: $navbar-height + 125px;
    color: #fff;

    h1 {
      color: #fff;
      font-size: 5rem;

      strong {
        font-size: 6rem;
        display: block;
        text-transform: uppercase;
      }
    }

    h2 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $xs-max-width) { // xs
      padding-top: $navbar-height + 50px;
      padding-bottom: $navbar-height + 50px;

      h1,
      h1 strong {
        font-size: 3.5rem;
      }

      h2 {
        font-size: 3.5rem;
      }

      h3 {
        font-size: 2.5rem;
      }
    }

    .black-overlay {
      opacity: 0.8;
    }

    .icon-wrapper {
      position: absolute;
      bottom: $medium-spacing;
      text-align: center;
      color: #fff;
      width: 100%;
      font-size: 2rem;
    }
  }
}
