<div class="home-wrapper">
  <section class="card card-one">
    <div class="above-overlay h1-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-sm-10 col-sm-push-1">
            <h1 class='no-margin image-text'>Hey there! <strong class="block">It's Carl</strong></h1>
            <h3 class='no-margin image-text padding-top-md padding-bottom-md'>Oh boy</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>

    <div class="black-overlay"></div>
  </section>
  <section class="card card-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-sm-10 col-sm-push-1">
          <h1 class='no-margin image-text'>Hey there! <strong class="block">It's Caaaaarl</strong></h1>
          <h3 class='no-margin image-text padding-top-md padding-bottom-md'>Oh boy</h3>
        </div>
      </div>
    </div>
    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div class="black-overlay"></div>
  </section>
  <section class="card card-three">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-sm-10 col-sm-push-1">
          <h1 class='no-margin image-text'>Hey there! <strong class="block">It's C-dawg</strong></h1>
          <h3 class='no-margin image-text padding-top-md padding-bottom-md'>Oh boy</h3>
        </div>
      </div>
    </div>
    <div class="black-overlay"></div>
  </section>
</div>
