<div class="home-wrapper">
  <section class="card card-one predawn-gradient">
    <h1 class="no-margin image-text">Hey there!<strong class="block">It's Carl Grafmuller</strong></h1>
    <h3 class="no-margin image-text padding-top-md padding-bottom-md">Oh boy</h3>

    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>

  </section>

  <section class="card card-two predawn-two-gradient">
    <div class="left">
      <h1 class="no-margin image-text">WORK</h1>
      <ul>
        <li>Actuary</li>
        <li>Entrepreneur</li>
        <li>Data Scientist</li>
        <li>Data Visualization</li>
        <li>Full-Stack Developer</li>
        <li>GIS Wizard</li>
      </ul>
    </div>
    <div class="right">
      <h1 class="no-margin image-text">PLAY</h1>
      <ul>
        <li>Travel</li>
        <li>Music</li>
      </ul>
    </div>
    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
  </section>

  <section class="card card-three predawn-gradient">
    <h1 class="no-margin image-text">Hey there!<strong class="block">It's C-dawg</strong></h1>
    <h3 class="no-margin image-text padding-top-md padding-bottom-md">Oh boy x3</h3>
  </section>
</div>
