<div class="home-wrapper">
  <section class="card card-one predawn-gradient">
    <div class="above-overlay">
      <h1 class="no-margin image-text">Hey there! <strong class="block">It's Carl</strong></h1>
      <h3 class="no-margin image-text padding-top-md padding-bottom-md">Oh boy</h3>
    </div>

    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>

  </section>

  <section class="card card-two predawn-two-gradient">
    <div class="above-overlay">
      <h1 class="no-margin image-text">Hey there! <strong class="block">It's Caaaaarl</strong></h1>
      <h3 class="no-margin image-text padding-top-md padding-bottom-md">Oh boy x2</h3>
    </div>

    <div class="icon-wrapper above-overlay">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
  </section>

  <section class="card card-three predawn-gradient">
    <div class="above-overlay">
      <h1 class="no-margin image-text">Hey there! <strong class="block">It's C-dawg</strong></h1>
      <h3 class="no-margin image-text padding-top-md padding-bottom-md">Oh boy x3</h3>
    </div>
  </section>
</div>
